a.title {
    text-decoration: none;
}
h3 {
	display: inline-block;
}
h5.subheader {
	display: inline-block;
}
form, .panel, .results {
	margin-top:30px;
}
input[type="text"], .button {
	height: 3.125rem;
}
#movie-details img {
    float:right;
    max-width: 200px;
}