a.title {
    margin: 0 0 1.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem 1.0625rem 2rem;
    font-size: 1rem;
}
h3 {
	display: inline-block;
}
h5.subheader {
	display: inline-block;
	float:right;
}
form, .panel, .results {
	margin-top:30px;
}
input[type="text"], .button {
	height: 3.125rem;
}